<head>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/fashionApp.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fashionApp.css">
</head>

<body>
<div id="nav">

        <li><a href="/">Home</a></li>
        <li><a href="/users">All Users (Admin Locked)</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <li><a href="/error">Error</a></li>
        <li><a href="/feedback_form">Feedback_Form</a></li>
        <li><a href="/signup">Register</a></li>
        <li><a href="/products/new"> New Product</a></li>
        <li><a href="/products">Show all Products</a></li>
        <li><a href="/thanks">Thank You</a></li>
        <li><%- include('products/_productsModal') %></li>
        <li><a href="/chat" class="chat-icon">@</a></li>


        <div class="login-status">

        <% if (loggedIn) { %>
            <div class="bubble logged-in">
            <li>Logged in as <a href="<%= `/users/${currentUser.id}` %>"><%= currentUser.name %></a></li>
            </div>

                <div class="log-out">
                    <a href="/users/logout">Log out</a>
                </div>
        <% } else { %>
                <div class="bubble log-in">
                    <a href="/users/login">Log In</a>
                </div>
        <% } %>
        </div>
</div>

<div class="flashes">
    <% if (flashMessages) { %>
        <% if (flashMessages.success) { %>
            <div class="flash success"><%= flashMessages.success %></div>
        <% } else if (flashMessages.error) { %>
            <div class="flash error"><%= flashMessages.error %></div>
        <% } %>
    <% } %>
</div>

<div class="container">
    <%- body %>
</div>

<div id="footer">FOOTER</div>
</body>
</html>